<!-- Loop over each object in the projects array and show all pets -->
{{#each pets as |pet| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/pet/{{pet.id}}">{{pet.name}}</a>
    </h2>

    
    <p>Created by: {{{pet.user.name}}}</p>

  </div>
  <div class="col-md-7">
    <p>
      Breed: {{pet.breed}}
    </p>
  </div>
  <div class="col-md-7">
    <p>
      Sex: {{pet.sex}}
    </p>
  </div>
  <div class="col-md-7">
    <p>
      Age: {{pet.age}}
    </p>
  </div>
  <div class="col-md-7">
    {{#if isvaccinated}}
    <p>
      Currently vaccinated
    </p>
    {{else}}
    <p>
      Not vaccinated
    </p>
    {{/if}}
    {{#if ismicrochipped}}
    <p>
      Currently microchipped
    </p>
    {{else}}
    <p>
      Not microchipped
    </p>
    {{/if}}
    {{#if isdesexed}}
    <p>
      Currently desexed
    </p>
    {{else}}
    <p>
      Not desexed
    </p>
    {{/if}}
  </div>
</div>
{{/each}}