<!-- Loop over each object in the projects array and show all pets -->
<div id="pet-gallery" class="d-flex justify-content-evenly">
  {{#each pets as |pet| }}
  <div id="pet-cards" class="card row mb-4 project">
    <div class="col-md-7">
      <h2>
        <a href="/pet/{{pet.id}}"> {{pet.name}}</a>
      </h2>
      <p><img href="/pet/{{pet.photourl}}"></p>
      <p><b>Currently owned by:</b> {{{pet.user.name}}}</p>
    </div>
    <div class="col-md-7">
      <p>
        <b>Breed:</b> {{pet.breed}}
      </p>
    </div>
    <div class="col-md-7">
      <p>
        <b>Gender:</b> {{pet.sex}}
      </p>
    </div>
    <div class="col-md-7">
      <p>
        <b>Age:</b> {{pet.age}}
      </p>
      <p>
        <b>Species:</b> {{pet.species}}
      </p>
      <p>
        <b>Description:</b> {{pet.description}}
      </p>
    </div>



  </div>

  {{/each}}
</div>

