{{!-- <nav>
    <button id="sign-up-button" > Sign Up or Log In</button> </nav> --}}

<!-- Loop over each object in the projects array and show all pets -->
<div id="pet-gallery" class="d-flex justify-content-evenly">
{{#each pets as |pet| }}
<div id= "pet-cards" class="card row mb-4 project">
  <div class="col-md-7">
    <h2>
     <a href= "/pet/{{pet.id}}"> {{pet.name}}</a> 

    </h2>

    
    <p><b>Currently owned by:</b> {{{pet.user.name}}}</p>

  </div>
  <div class="col-md-7">
    <p>
      <b>Breed:</b> {{pet.breed}}
    </p>
  </div>
  <div class="col-md-7">
    <p>
      <b>Sex:</b> {{pet.sex}}
    </p>
  </div>
  <div class="col-md-7">
    <p>
      <b>Age:</b> {{pet.age}}
    </p>
  </div>
  <div class="col-md-7">
    {{#if isvaccinated}}
    <p><b>
      Currently vaccinated
      </b>
    </p>
    {{else}}
    <p>
      Not vaccinated
    </p>
    {{/if}}
    {{#if ismicrochipped}}
    <p>
      <b>
      Microchipped
      </b>
    </p>
    {{else}}
    <p>
      Not microchipped
    </p>
    {{/if}}
    {{#if isdesexed}}
    <p>
      <b>Desexed</b>
    </p>
    {{else}}
    <p>
      Not desexed
    </p>
    {{/if}}
  </div>
</div>
{{/each}}
</div>