{{!-- handlebar for when we retrieve a single pet --}}

<div class="container w-25 card single-pet-card">
  <div class="text-center">
    <h2>{{name}}</h2>
    <div class="text-start">
      <p><b>Breed:</b> {{breed}}</p>
      <p><b>Gender:</b> {{sex}}
      </p>
      <p>
        <b>Age:</b> {{age}}
      </p>
      <p>
        <b>Species:</b> {{species}}
      </p>

      <p>
        <b>Description:</b> {{description}}
      </p>
      {{#if logged_in}}
      {{#if isvaccinated}}
      <p>
        <b>Vaccinated:</b> Yes
      </p>
      {{else}}
      <p>
        <b>Vaccinated:</b> No
      </p>
      {{/if}}
      {{#if ismicrochipped}}
      <p>
        <b>Microchipped:</b> Yes
      </p>
      {{else}}
      <p>
        <b>Microchipped:</b> No
      </p>
      {{/if}}
      {{#if isdesexed}}
      <p>
        <b>Desexed:</b> Yes
      </p>
      {{else}}
      <p>
        <b>Desexed:</b> No
      </p>
      {{/if}}
      {{/if}}
    </div>
  </div>
</div>