{{!-- handlebar for when we retrieve a single pet --}}

<div class="container w-25 card single-pet-card">
  <div class="text-center">
    <h2>{{name}}</h2>
    <p><img src="{{photourl}}"></p>
    <div class="text-start">
      <p><b>Breed:</b> {{breed}}</p>

      <p><b>Gender:</b> {{sex}}
      </p>
      <p>
        <b>Age:</b> {{age}}
      </p>
      <p>
        <b>Species:</b> {{species}}
      </p>

      <p>
        <b>Description:</b> {{description}}
      </p>


      {{#if logged_in}}   {{!-- These items will only show when logged in  --}}
      
      <p>
        <b>Vaccinated:</b> {{isvaccinated}}
      </p>
    
      <p>
        <b>Microchipped:</b> {{ismicrochipped}}
      </p>

      <p>
        <b>Desexed:</b> {{isdesexed}}
      </p>
      
      {{/if}}
      
    </div>
  </div>
</div>