{{!-- handlebar for when we retrieve a single pet --}}

<div class="container w-25 card single-pet-card">
  <div class="text-center">
    <h2>{{name}}</h2>

    {{!-- Image display will be further developed --}}
    {{!-- <p><img src="{{photourl}}" alt="image" style="border: 5px inset black; height: 50px; width: 25px;"></p> --}}

    <div class="text-start">
      <p><b>Breed:</b> {{breed}}</p>

      <p><b>Gender:</b> {{sex}}
      </p>
      <p>
        <b>Age:</b> {{age}}
      </p>
      <p>
        <b>Species:</b> {{species}}
      </p>

      <p>
        <b>Description:</b> {{description}}
      </p>


      {{#if logged_in}} {{!-- These items will only show when logged in --}}

      <p>
        <b>Vaccinated:</b> {{isvaccinated}}
      </p>

      <p>
        <b>Microchipped:</b> {{ismicrochipped}}
      </p>

      <p>
        <b>Desexed:</b> {{isdesexed}}
      </p>
      {{/if}}

      <p><b>Image Link:  </b><a href="{{photourl}}">Click Me!</p>

    </div>
  </div>
</div>